<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:52:44</td>   <td>7739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:45</td>   <td>9237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:45</td>   <td>9419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:52:51</td>   <td>15232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:53</td>   <td>16796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:53</td>   <td>16959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:52:59</td>   <td>22836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:01</td>   <td>24650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:01</td>   <td>24875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:07</td>   <td>30768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:08</td>   <td>32242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:08</td>   <td>32393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:14</td>   <td>38169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:16</td>   <td>39792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:16</td>   <td>39932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:22</td>   <td>45573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:23</td>   <td>47044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:23</td>   <td>47185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:29</td>   <td>52787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:30</td>   <td>54294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:30</td>   <td>54422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:36</td>   <td>60182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:38</td>   <td>61793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
</table>
