<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:53</td>   <td>7559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:01</td>   <td>15413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:08</td>   <td>23005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:16</td>   <td>30555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:23</td>   <td>37807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:30</td>   <td>45057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:38</td>   <td>52556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:36</td>   <td>-9237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:45</td>   <td>182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:52:53</td>   <td>7722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:01</td>   <td>15638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:08</td>   <td>23156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:16</td>   <td>30695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:23</td>   <td>37948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/09/24 08:53:30</td>   <td>45185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:52:44</td>   <td>-1498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:52:51</td>   <td>5995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:52:59</td>   <td>13599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:07</td>   <td>21531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:14</td>   <td>28932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:22</td>   <td>36336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:29</td>   <td>43550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>19/09/24 08:53:36</td>   <td>50945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@13a5fe33]">createNewAccount</td> 
  <td>main@525683462</td>   <td></td> </tr>
</table>
