<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Selenium_Smoke_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:17</td>   <td>8411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:25</td>   <td>17028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:34</td>   <td>25392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:42</td>   <td>33917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:50</td>   <td>42302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:59</td>   <td>50719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:09:07</td>   <td>59043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:07:58</td>   <td>-10320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:08</td>   <td>235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:17</td>   <td>8675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:25</td>   <td>17249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:34</td>   <td>25677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:42</td>   <td>34175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:51</td>   <td>42557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:59</td>   <td>50977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:06</td>   <td>-2005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:15</td>   <td>6629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:23</td>   <td>15130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:32</td>   <td>23463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:40</td>   <td>31997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:49</td>   <td>40414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:57</td>   <td>48902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:09:05</td>   <td>57180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
</table>
