<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Selenium_Smoke_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/09/24 19:07:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:06</td>   <td>8315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:08</td>   <td>10320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:08</td>   <td>10555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:15</td>   <td>16949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:17</td>   <td>18731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:17</td>   <td>18995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:23</td>   <td>25450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:25</td>   <td>27348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:25</td>   <td>27569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:32</td>   <td>33783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:34</td>   <td>35712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:34</td>   <td>35997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:40</td>   <td>42317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:42</td>   <td>44237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:42</td>   <td>44495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:49</td>   <td>50734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:50</td>   <td>52622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:51</td>   <td>52877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:08:57</td>   <td>59222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:59</td>   <td>61039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:08:59</td>   <td>61297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/24 19:09:05</td>   <td>67500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/24 19:09:07</td>   <td>69363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
</table>
