<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Selenium Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/09/25 06:41:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:05</td>   <td>9302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:14</td>   <td>18420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:23</td>   <td>27682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:34</td>   <td>38615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:45</td>   <td>49657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:54</td>   <td>59028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:43:04</td>   <td>68564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:41:43</td>   <td>-12293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:41:56</td>   <td>440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:05</td>   <td>9801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:14</td>   <td>18805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:25</td>   <td>30055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:36</td>   <td>40799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:46</td>   <td>50112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/09/25 06:42:55</td>   <td>59462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:41:53</td>   <td>-2357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:42:03</td>   <td>7140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:42:12</td>   <td>16102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:42:21</td>   <td>25373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:42:32</td>   <td>36323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:42:43</td>   <td>47359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:42:52</td>   <td>56827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/09/25 06:43:02</td>   <td>66328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterNewUserDDT.createNewAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:opensourceCMS.com.users.RegisterNewUserDDT@370736d9]">createNewAccount</td> 
  <td>main@473581465</td>   <td></td> </tr>
</table>
